<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" [routerLink]="['/search']" [routerLinkActive]="['activado']">{{title}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Acerca del Proyecto</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="buscarPost()" class="form-control" placeholder="Buscar posts...">
      </form>
    </div>
  </div>
</nav>

<div class="col-lg-10 col-lg-offset-1" *ngIf="usuario">
  <div class="thumbnail well">
    <i class="fa fa-times fa-2x" aria-hidden="true" [routerLink]="['/search']"></i>
    <h1>{{usuario.nombre}} {{usuario.apellido}}
      <span><img src="./../assets/avatar/{{usuario.id}}.jpg" class="img-circle imagenCuston" alt=""></span>
    </h1>
    <hr>
    <ul>
      <h4 *ngFor="let album of usuario.albums">Escribeme algo:</h4>
    </ul>
    <hr>
    <ul>
      <li class="posts" *ngFor="let post of usuario.posts" (click)="prueba(post)">{{post}}</li>
      <!--<li>{{posts}}</li>-->
    </ul>
    <div class="input-group">

      <input type="text" class="form-control" placeholder="Post algo" [(ngModel)]="posts">
      <span class="input-group-addon  glyphicon glyphicon-send glyphicon-align-left" aria-hidden="true" (click)="detallesUsuario(usuario.id)"></span>

    </div>
  </div>
</div>

<footer class="fixed-bottom navbar-fixed-bottom text-center">
  <p><strong>Diseñado y desarrollado por Alex Colombo&copy; 2017.</strong></p>
</footer>